@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Reggae+One&display=swap');

:root {
  /* Fonts */
  --decorative: 'Creepster', cursive;
  --text: 'Reggae One', cursive;

  /* colors */
  --background-color: rgb(24, 24, 26);
  --color2: rgb(235, 97, 35);
  --color2-shade: rgba(235, 98, 35, 0.795);
  --color3: rgb(94, 50, 186);
  --color3-shade: rgba(93, 50, 186, 0.619);
  --color4: rgb(150, 196, 87);
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--color2);
  font-family: var(--text);
}

.container {
  position: relative;
}

/* NAV */

nav {
  border-bottom: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
}

#title {
  font-family: var(--decorative);
  font-size: 3rem;
  position: relative;
}

#title::before {
  content: url(src/assets/icons8-cat-52.png);
  position: relative;
  top: 3px;
}

nav button {
  background: var(--color3);
  outline: 2px solid var(--color2);
  border: none;
  color: var(--color4);
  font-family: inherit;
  transition: all ease .25s;
  height: 100%;
  margin-top: 1px;
  margin-inline-end: 2px;
}

nav button:hover {
  outline: 3px solid var(--color4);
  color: var(--color4);
  transition: all .1s;
}

nav button:active {
  outline: 2px solid black;
  background-color: red;
  color: black;
}

/* MAIN */

main {
  padding-inline: 25vw;
  /* display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 87vh; */
  color: var(--color4);
  margin-block: 150px;
}

h1 {
  position: fixed;
  top: 7rem;
  left: 10rem;
}




/* CARD STYLING */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  outline: 2px solid var(--color2);
  background-color: var(--color2);
  margin-block-end: 2rem;
  width: 35vw;
}

.card h2 {
  text-align: center;
  background-color: var(--color3);
  margin: 0;
}

.card--img-container {
  height: 45vh;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--description p {
  margin: 0;
  color: var(--color3);
  text-shadow: 0px 3px 3px rgba(198, 218, 122, 0.6);
}


.card--options {
  background-color: var(--color4);
  padding: .5rem;
  /* position: relative; */
  bottom: 0;
  margin-block-start: 2.5rem;
}

#delete-btn {
  background: url(/src/assets/icons8-delete-30.png);
  background-repeat: no-repeat;
  padding: 2px 20px;
}

#edit-btn {
  background: url(/src/assets/icons8-edit-30.png);
  background-repeat: no-repeat;
  padding: 2px 20px;
}

/*  MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  display: none;
}


.modal h2 {
  width: 100%;
  text-align: center;
  border-block-end: 2px solid var(--color2);
  padding-block-end: 1rem;
  font-size: 2rem;
}

.close {
  margin: 1rem 2rem;
  font-size: 2.5rem;

  position: absolute;
  top: 0;
  right: 0;

  transition: all ease-in-out .2s;
}

.close:hover {
  color: var(--color3);
}

#post-something-ugly--decor {
  font-family: var(--decorative);
  color: var(--color3);
  text-decoration: underline;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

form input,
form textarea {
  width: 30rem;
  height: 2rem;
  margin-block-end: 2rem;
  font-family: var(--text);
}

form textarea {
  height: 5rem;
}

label {
  font-size: 1.5rem;
}

form button {
  border-radius: 5px;
  background-color: var(--color4);
  color: var(--color3);
  padding: 1rem 2rem;
  font-family: inherit;
  transition: all ease .25s;
}

form button:hover {
  color: var(--color4);
  outline: 2px solid var(--color3);
  background-color: var(--color3);
}

/* FOOTER */

footer {
  box-sizing: border-box;
  background-color: var(--color3);
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

footer a {
  color: var(--color4);
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-inline-start: .5rem; */
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding: .5rem;
}