@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Reggae+One&display=swap');

:root {
  /* Fonts */
  --decorative: 'Creepster', cursive;
  --text: 'Reggae One', cursive;

  /* colors */
  --background-color: rgb(24, 24, 26);
  --color2: rgb(235, 97, 35);
  --color3: rgb(94, 50, 186);
  --color4: rgb(150, 196, 87);
}

body {
  margin: 0;
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--color2);
  font-family: var(--text);
}

/* NAV */

nav {
  border: 3px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--background-color);
}

.title {
  font-family: var(--decorative);
  font-size: 4rem;
  /* margin-left: .5rem; */
}

.title:hover {
  color: var(--color3);
  text-shadow: 4px 6px 3px rgba(94, 50, 186, 0.42);
}

#brand {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#brand img {
  margin-left: .5rem;
}

nav button {
  background: var(--color3);
  outline: 3px solid var(--color2);
  border: none;
  border-block: none;
  color: var(--color4);
  font-family: inherit;
  transition: all ease .25s;
  height: 100%;
  margin-inline-end: 2px;
  padding: 2rem 4rem;
  font-size: 1.2rem;
}

nav button:hover {
  outline: 3px solid var(--color4);
  border: none;
  color: var(--color2);
  transition: all .1s;
}

nav button:active {
  outline: 3px solid black;
  background-color: red;
  color: black;
}

/* MAIN */

main {
  color: var(--color4);
  border-inline: 2px solid var(--color2);
  padding-top: 8rem;
  min-height: 100vh;
}

h1 {
  position: fixed;
  top: 10rem;
  margin-left: 10%;
  text-decoration: underline;
  text-decoration-color: var(--color3);
}

h1:hover {
  color: var(--color3);
  text-shadow: 4px 6px 3px rgba(94, 50, 186, 0.42);
}

/* CARD STYLING */

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.card {
  outline: 2px solid var(--color2);
  background-color: var(--color2);
  margin-block-end: 2rem;
  width: 35vw;
}

.card h2 {
  text-align: center;
  background-color: var(--color3);
  margin: 0;
  padding: .5rem;
}

.card--img-container {
  height: 45vh;
  margin-bottom: .5rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--description p {
  margin: 0;
  color: var(--color3);
  text-shadow: 0px 3px 3px rgba(198, 218, 122, 0.6);
}

.card--options {
  background-color: var(--color4);
  padding: .5rem;
  bottom: 0;
  margin-block-start: 2.5rem;
}

#delete-btn {
  color: red;
  font-size: 1.5rem;
}

#delete-btn:hover {
  color: rgba(255, 0, 0, 0.81);
}

#edit-btn {
  font-size: 1.5rem;
  padding: 2px 20px;
  color: white;
}

#edit-btn:hover {
  color: rgba(255, 255, 255, 0.772);
}


#submit-edit-btn {
  background-color: black;
  color: white;
  padding: .2rem;
  border-radius: 5px;
}

#exit-edit-btn {
  background-color: red;
  color: black;
  padding: .2rem;
  border-radius: 5px;
  margin-left: .5rem;
}

#submit-edit-btn:hover,
#exit-edit-btn:hover {
  outline: 2px solid white;
}

.nothing-card {
  outline: 4px solid var(--color2);
  background-color: transparent;
  width: 35vw;
  height: 35vh;
  padding: 2rem;
  display: grid;
  place-content: center;
  color: white;
}

.nothing-card span {
  color: var(--color3);
}

.nothing-card span:hover {
  color: var(--color2);
}

/*  MODAL */

.modal.show,
.modal.hide {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
}

.modal.show {
  animation: slidein 800ms ease-in 1 normal forwards;
  display: block;
}

body:has(.modal.show) {
  overflow: hidden;
}

.modal.hide {
  animation: slideOut 500ms ease-in 1 normal both;
  overflow-y: visible;
}

@keyframes slidein {
  0% {
    top: -100%;
  }

  25% {
    top: 0%
  }

  50% {
    top: -20%
  }

  100% {
    top: 0%
  }

}

@keyframes slideOut {
  0% {
    top: 0%;
    display: block;
  }

  100% {
    top: 100%;
    display: none;
  }
}

.modal--header {
  width: 100%;
  text-align: center;
  border-block-end: 2px solid var(--color2);
  font-size: 1.5rem;

  display: flex;
  flex-direction: column-reverse;
}

.close {
  margin: 1rem 2rem;
  font-size: 2.5rem;
  align-self: flex-end;
  transition: all ease-in-out .2s;
}

.close:hover {
  color: var(--color3);
}

#post-something-ugly--decor {
  font-family: var(--decorative);
  color: var(--color3);
  text-decoration: underline;
  font-size: 3rem;
  transition: all ease-in-out .2s;
  padding: .5rem;
}

#post-something-ugly--decor:hover {
  background: linear-gradient(to right, var(--color3), var(--color2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal h2 {
  margin: 0 0 1rem 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

}

form input,
form textarea,
.card input {
  width: 30rem;
  height: 2rem;
  margin-block-end: 2rem;
  font-family: var(--text);
  border-radius: 5px;
}

form textarea {
  height: 5rem;
}

label {
  font-size: 1.5rem;
}

form button {
  border-radius: 5px;
  background-color: var(--color4);
  color: var(--color3);
  padding: 1rem 2rem;
  font-family: inherit;
  transition: all ease .25s;
}

form button:hover {
  color: var(--color4);
  outline: 2px solid var(--color3);
  background-color: var(--color3);
}

/* FOOTER */

footer {
  box-sizing: border-box;
  background-color: var(--color3);
  width: 100%;
  padding-top: .5rem;
  border: 2px solid var(--color2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--color4);
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--color2);
  border-right: 2px solid var(--color2);
  border-left: 2px solid var(--color2);
  padding: .5rem;
}

/* LOAD PAGE */

.load-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  background-color: var(--background-color);
  color: white;
}

.loadPage--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--color2);
}

.load-page #brand img {
  object-fit: contain;
}

.load-page h2 {
  color: var(--color3);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1249px) {
  h1 {
    position: static;
    text-align: center;
    margin-inline-start: 0;
  }

  .card {
    width: 60vw;
  }

  .card--img-container {
    height: 35vw;
  }
}

@media screen and (max-width: 714px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  nav button {
    width: 100%;
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  #brand {
    align-items: center;
    padding: 1rem;
  }

  #brand img {
    height: 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  main {
    margin-top: 5rem;
    padding-top: 3rem;
  }

  .card {
    width: 80vw;
  }

  .card h2 {
    font-size: 1rem;
  }

  .form input,
  form textarea,
  .card input {
    width: unset;
    margin: 0;
  }

  .modal--header h2 {
    font-size: 1.5rem;
  }

  .close {
    font-size: 1.5rem;
  }

  .modal form {
    padding: 2rem;
  }

  .modal form input,
  .modal form textarea {
    width: 100%;
  }

  .modal label {
    width: 100%;
  }
}